/*Colores*/
.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


.card-text {
    text-align: justify;
}

#iconocalendario {
    width: 1.5rem;
}


/*Sidebar*/

#sidebar{
    min-width: 160px;
}


/*Tareas*/

.navbar-toggler-icon{
    display: none;
}

.navbar-toggler{
    display: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"]{
    background: none;
}

/*Content*/

main{
    height: 89%;
}

#content {
    background: #f1f1f1;
}

.btn-primary {
    background-color: #FFC107 !important;
    border-color: #FFC107 !important;
}

.btn-primary:hover {
    background-color: #FFC107 !important;
    border-color: #FFC107 !important;
}

/*Tareas*/

/* .tarea{
    text-align: center;
} */

#buttonAddTask{
    /* margin-right: 30px; */
    float: right;
}

#buttonAddProyect{
    float: right;
    margin-right: 5px;
}

#formTask{
    margin-top: 5rem !important;
    display: none;
    border: 1px solid black;
    height: 100%;
}

.inputsTask{
    background-color: #fafafa;
    border: 0;
    border-bottom: 1px solid black !important;
    outline: none;
}

.inputsTask::-webkit-input-placeholder {
    text-align: center;
}

#allTasks, #allProjects{
    display: block;
    margin-top:35px !important;
}

#contenedor-tareas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

/*Comentario Tareas*/
.input-form-comments{
    display: flex; 
    justify-content: center;
}

.input-comments{
    width: 60%;
}

/*Proyectos*/

/* .proyecto{
    text-align: center;
} */

#formProject{
    margin-top: 5rem !important;
    display: none;
    border: 1px solid black;
    width: 50%;
    height: 100%;
}


/*General*/

.boton-cerrar > input{
  float: right;
  padding: 2px 5px;
  background-color: #fafafa;
  border: 0;
}

.boton-cerrar-edit > input{
    float: right;
    padding: 2px 5px;
    background-color: #fafafa;
    border: 0;
  }


.no-padding{
    padding-left:0;
}


/*Tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
    /*Sidebar*/
    #sidebar{
        min-width: 250px !important;
    }


    /*Tareas*/

    #formTask{
        width:80%;  
    }

    .card-w{
        width: 40%;
    }

    #allTasks, #allProjects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #iconocalendario {
        width: 2.5rem;
    }

    /*Comentarios Tareas*/
    .input-comments{
        width: 50%;
    }
}


@media (min-width: 1024px){
    /*Sidebar*/
    #sidebar{
        min-width: 250px !important;
    }

    /*Tareas*/

    #formTask{
        width:50%;  
    }

    .card-w{
        width: 80%;
    }

    #allTasks, #allProjects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .tarea:hover {
        box-shadow: 2px 2px 5px #999;
        transition: box-shadow 0.40s linear;
    }

    #iconocalendario {
        width: 2.5rem;
    }

    /*Comentarios Tareas*/
    .input-comments{
        width: 50%;
    }
    
}